

.modal__content_type_image {
    padding: 0 0 32px;
}

.modal__image {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.modal__footer {
    margin: 20px 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal__caption {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}

.modal__weather-type {
    font-size: 20px;
    line-height: 1.2;
    margin: 12px 0 0;
}

.modal__delete-button {
    border: none;
    background-color: #fff;
    color: #ff4d00;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Cabinet Grotesk", sans-serif;
    padding: 0;
}

