.modal__label:last-of-type {
    margin: 0 0 6px 0;
}


.register-modal__button {
    cursor: pointer;
    position: absolute;
    bottom: 44px;
    left: 126px;
    padding: 0;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    font-family: "Cabinet Grotesk", sans-serif;
    opacity: 50%;
}